@import url('https://fonts.cdnfonts.com/css/simpsonfont');
@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scale-400 {
      transform: scale(4);
    }
    .img-bright-yellow {
      transition: filter 0.3s ease;
    }
    
    .img-bright-yellow:hover {
      filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 0, 0.7));
    }
    
    /* Estilos para la barra de scroll completa */
    ::-webkit-scrollbar {
      width: 8px; /* Ancho de la barra de scroll */
      background-color: #3490dc; /* Color de fondo de la barra */
    }

    /* Estilos para el "thumb" (parte que se desplaza) */
    ::-webkit-scrollbar-thumb {
      background-color: #f5f5f5; /* Color del "thumb" */
      border-radius: 10px; /* Esquinas redondeadas */
    }

    /* Opcional: Estilo al hacer hover sobre el thumb */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #6574cd; /* Cambiar color al hacer hover */
    }
  }